.backgroundPurple{
    position: absolute;
    margin-left: 1098px;
    margin-top: 199px;
width: 920px;
height: 650px;
    background: linear-gradient(97.02deg, rgba(116, 33, 176, 0.2) 28.9%, rgba(208, 142, 255, 0.2) 139.98%);
/* 1 */

border: 3px solid rgba(255, 255, 255, 0.12);
box-sizing: border-box;
backdrop-filter: blur(40px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 70px;

} 

.superToroid{
    position: absolute;
    transform: rotate(-60deg);
    margin-left: 1369px;
    margin-top: 65px;
}