

.backgroundGradient{
    margin-left: -80px;
width: 903px;
height: 650px;
margin-top: 142px;

background: linear-gradient(90deg, rgba(255, 89, 248, 0.04) 0%, rgba(174, 114, 255, 0.04) 19.79%, rgba(144, 233, 237, 0.04) 40.62%, rgba(92, 209, 103, 0.04) 61.98%, rgba(255, 238, 0, 0.04) 82.53%);
/* 1 */

border: 3px solid rgba(255, 255, 255, 0.12);
box-sizing: border-box;
backdrop-filter: blur(40px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 70px;
}

.toroid{
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
}


.rectangle{
    width: 705px;
height: 397px;
margin-top: 119px;
margin-left: 320px;
background: #FFFFFF;
box-shadow: 0px 18px 45px -10px rgba(0, 0, 0, 0.13);
border-radius: 10px;
}

.gif{
    width: 98px;
height: 59px;
margin-top: 153px;
margin-left: 304px;
}

.descriptionTitle{
    position: relative;
justify-content: flex-end;
margin-top: -456px;
margin-left: 1098px;
font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 43px;
color: #131313;
}

.descriptionText{
    position: relative;
    width: 385px;
    margin-left: 1098px;
    justify-content: flex-end;
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 180%;
color: #828282;
}

.descriptionColor{
    color: #7421B0;
}